# configurations for ArgoCD used in Helm chart deployment

server:
  service:
    type: ClusterIP

  # 2. Configure the Ingress resource
  ingress:
    enabled: true
    ingressClassName: nginx 
    hostname: k8s.karamjitbrar.com 
    path: /argocd
    pathType: Prefix
    
    annotations:
      # Crucial for NGINX to handle the gRPC traffic for the ArgoCD CLI
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      # Forces all HTTP traffic to be redirected to HTTPS (Highly Recommended)
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      # Optional: NGINX Ingress must rewrite the path to send only '/' to the ArgoCD Service
      nginx.ingress.kubernetes.io/rewrite-target: /$2 # This is often required for path-based routing

configs:
  cm:
    admin.enabled: true
    timeout.reconciliation: 15s
    timeout.hard.reconciliation: 0s
  
  # 3. **Set the root path for the ArgoCD server application itself**
  params:
    server.rootpath: /argocd
    