# configurations for ArgoCD used in Helm chart deployment

server:
  service:
    type: ClusterIP

  # 2. Configure the Ingress resource
  ingress:
    enabled: true
    ingressClassName: nginx 
    hostname: argocd.karamjitbrar.com
    path: /
    pathType: Prefix
    
    annotations:
      # Crucial for NGINX to handle the gRPC traffic for the ArgoCD CLI
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      # Forces all HTTP traffic to be redirected to HTTPS (Highly Recommended)
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      # Let cert-manager issue a TLS certificate via Let's Encrypt
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      
    tls:
      - hosts:
          - argocd.karamjitbrar.com
        secretName: argocd-tls

configs:
  cm:
    admin.enabled: true
    timeout.reconciliation: 15s
    timeout.hard.reconciliation: 0s
    url: https://argocd.karamjitbrar.com
  
  params:
    server.rootpath: /
    