#configurations for ArgoCD used in Helm chart deployment

server:
  # Configuration for the Argo CD API server and UI service
  service:
    # Change the Kubernetes Service type from the default (ClusterIP or LoadBalancer, depending on values) to NodePort.
    type: NodePort

    nodePort: 30011

configs:
  cm:
    admin.enabled: true # -- Enable local admin user
    timeout.reconciliation: 15s # -- Timeout to discover if a new manifests version got published to the repository
    timeout.hard.reconciliation: 0s # -- Timeout to refresh application data as well as target manifests cache
