apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-page
  labels:
    app: home-page
spec:
  replicas: 1
  selector:
    matchLabels:
      app: home-page
  template:
    metadata:
      labels:
        app: home-page
    spec:
      containers:
        - name: welcome
          image: nginxdemos/hello
          ports:
            - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: home-page
  labels:
    app: home-page
spec:
  selector:
    app: home-page
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: home-page
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - k8s.karamjitbrar.com
      secretName: k8s-tls
  rules:
    - host: k8s.karamjitbrar.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: home-page
                port:
                  number: 80
