apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-page
  namespace: home
  labels:
    app: home-page
spec:
  replicas: 1
  selector:
    matchLabels:
      app: home-page
  template:
    metadata:
      labels:
        app: home-page
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:10.4.5
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: GF_SERVER_ROOT_URL
              value: https://k8s.karamjitbrar.com/
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ORG_ROLE
              value: Viewer
            - name: GF_SECURITY_ALLOW_EMBEDDING
              value: "true"
            - name: GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH
              value: /var/lib/grafana/dashboards/home/home-dashboard.json
          volumeMounts:
            - name: grafana-dashboard
              mountPath: /var/lib/grafana/dashboards/home
            - name: grafana-provisioning
              mountPath: /etc/grafana/provisioning/dashboards/home.yaml
              subPath: home-dashboards.yaml
      volumes:
        - name: grafana-dashboard
          configMap:
            name: home-grafana-dashboard
        - name: grafana-provisioning
          configMap:
            name: home-grafana-provisioning
